<div class="container" id="add-reading">
  <hr>
  <% if @message %>
    <p class="text-danger"><%= @message %></p>
  <% end %>
  <div class="row">
    <div class="md-6 d-flex justify-content-center">
      <form action="/pressure_reading" method="POST">
        <div class="mb-3">
          <label for="systolic" class="form-label">Systolic</label>
          <input type="number" class="form-control" id="systolic" name="systolic" aria-describedby="systolic">
        </div>
        <div class="mb-3">
          <label for="diastolic" class="form-label">Diastolic</label>
          <input type="number" class="form-control" name="diastolic" id="diastolic">
        </div>
        <button type="submit" class="btn btn-primary">Add</button>
        <div class="btn btn-secondary" onclick="removeAddReading()">Cancel</div>
      </form>
    </div>
  </div>
</div>
<script>
  function removeAddReading(){
    document.getElementById('add-reading').remove();
  }
</script>
