<%= erb :header %>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link text-success" href="/"><span class="material-icons">cabin</span></a>
      </li>
    </ul>
  </div>
</nav>
<br>
<body>
<div class="container">
  <h1>Login</h1>
  <% if @message %>
    <p class="text-danger"><%= @message %></p>
  <% end %>
  <div class="row">
    <div class="md-6 d-flex justify-content-center">
      <form action="/login" method="POST">
        <div class="mb-3">
          <label for="username" class="form-label">User Name</label>
          <input type="text" class="form-control" id="username" name="username" aria-describedby="username">
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input type="password" class="form-control" name="password" id="password">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>
</body>