<div class="row">
  <div class="md-6 d-flex justify-content-center">
    <div class="card" style="width: 18rem;">
      <div class="card-header">
        Average Systolic
      </div>
      <div class="card-body">
        <h5 class="card-title"><%= @systolic_average %></h5>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <div class="card-header">
        Average Diastolic
      </div>
      <div class="card-body">
        <h5 class="card-title"><%= @diastolic_average %></h5>
      </div>
    </div>
  </div>
  <div class="md-6 d-flex justify-content-center">
    <div class="card" style="width: 18rem;">
      <div class="card-header">
        Max Systolic
      </div>
      <div class="card-body">
        <h5 class="card-title"><%= @systolic_max %></h5>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <div class="card-header">
        Max Diastolic
      </div>
      <div class="card-body">
        <h5 class="card-title"><%= @diastolic_max %></h5>
      </div>
    </div>
  </div>
</div>